.ant-drawer-body{
    overflow-x: hidden !important;           
}
.BottomBar{
    padding-bottom: 15px;
    display: flex; justify-content: space-between; align-items: center;
    padding-inline: 3vw;
    gap: 5%;
    border-bottom: 1px solid var(--bg2);

}

.DropdownMenu{
    width: 100%;
    flex: 15%;
    background-color: var(--bg2) !important;
    color: var(--text);
    padding: 8px 20px;
    display: flex; justify-content: space-between; align-items: center;
    .MenuItems{
        width: 100%;
    }    
}
.NavMenus{
    padding-left: 20vw;
    flex: 75%;
    display: flex; justify-content: end; align-items: end;
    gap: 5%;
    .Link{
        font-size: 1.4vw;
        h1{
            text-transform:capitalize;
            font-size: 18px;
            @include underLineText(var(--primary), var(--secondary));
            padding-bottom:5px ;
        }
        
    }
}

.ant-dropdown-menu{
    background-color:var(--bg2) !important;
    color:var(--primary) !important;
   }
   
   /* Ant Unknowndown menu submenu title */
    .ant-dropdown-menu-submenu-title{
    color:var(--primary) !important;
   }
   
   /* Span Tag */
    .ant-dropdown-menu-submenu-expand-icon span{
    color:var(--primary) !important;
   }
   div .ant-dropdown-placement-bottomLeft ul{
    margin-top:10px !important;
   }
   
   
   /* Ant Unknowndown menu submenu title */
.ant-dropdown-placement-bottomLeft .ant-dropdown-menu .ant-dropdown-menu-submenu-title{
    padding-bottom:12px;
   }
   
   
   div .ant-dropdown-menu-submenu-placement-rightTop ul{
    margin-left:11px;
    min-width: 120px;
   }
   
  
   .ar{
    .ant-drawer-body{
        overflow-x: hidden !important;           
    }
    .BottomBar{
        padding-bottom: 15px;
        display: flex; justify-content: space-between; align-items: center;
        padding-right: 5vw;
        gap: 5%;
        border-bottom: 1px solid var(--bg2);
     .ViewCart{
        // display: none;
       
       }
    
    }
    
    .DropdownMenu{
        width: 100%;
        flex: 15%;
        background-color: var(--bg2) !important;
        color: var(--text);
        padding: 8px 20px;
        display: flex; justify-content: space-between; align-items: center;
        .MenuItems{
            width: 100%;
        }
         
    }
    .NavMenus{
        padding-left: 13vw;
        flex: 75%;
        display: flex; justify-content: end; align-items: end;
        gap: 5%;
        .Link{
            font-size: 12px !important;
            h1{
                text-transform:capitalize;
                font-size: 18px;
            }
            
        }
    }
    
    .ant-dropdown-menu{
        background-color:var(--bg2) !important;
        color:var(--primary) !important;
       }
       
       /* Ant Unknowndown menu submenu title */
        .ant-dropdown-menu-submenu-title{
        color:var(--primary) !important;
       }
       
       /* Span Tag */
        .ant-dropdown-menu-submenu-expand-icon span{
        color:var(--primary) !important;
       }
       div .ant-dropdown-placement-bottomLeft ul{
        margin-top:10px !important;
       }
       
       
       /* Ant Unknowndown menu submenu title */
    .ant-dropdown-placement-bottomLeft .ant-dropdown-menu .ant-dropdown-menu-submenu-title{
        padding-bottom:12px;
       }
       
       
       div .ant-dropdown-menu-submenu-placement-rightTop ul{
        margin-left:11px;
        min-width: 120px;
       }
       
      
   }